학년 선택       정수
학과 선택       정수
주간 야간       텍스트
최대 학점 선택  정수
전기 n학점      정수
전필 n학점      정수
전선 n학점      정수
//제외고려 교양 n학점      정수
하루 최대 몇강의 까지   정수
공강 요일 선택
개인 스케줄 선택해서 그 시간대는 빼기

과목코드 과목명 이수구분 과목구분 학점 주야 분반 학년 학년제한 교수 강의실 및 교시