학년 선택       정수
학과 선택       정수
주간 야간       텍스트
공강 요일 선택  텍스트
개인 스케줄
----필터링----

최대 학점 선택  정수
최대 학점 지향(없으면 최소 학점 제한하지 않는 이상 0학점도 나올 수 있음)
중복된 수업 제거(수업 이름 기준으로)
전기 n학점      정수
전필 n학점      정수
전선 n학점      정수
하루 최대 몇강의 까지   정수
연강 시간(기본값 정해야함)
점심시간 보장(12:00 ~ 13:00)
//제외고려 교양 n학점      정수
----제약조건----