@theme {
    --animate-spin-sangsangboogi: spinWithDelay 1.2s ease-in-out infinite;
    --animate-spinner: spinner 1.2s cubic-bezier(.5, -1.3, .7, 2) infinite;

    @keyframes spinWithDelay {
        0% {
            transform: rotate(0deg)
        }

        75% {
            transform: rotate(-360deg)
        }

        100% {
            transform: rotate(-360deg)
        }
    }

    @keyframes spinner {
        0% {
            transform: rotateZ(0deg);
        }

        90% {
            transform: rotateZ(360deg);
        }

        100% {
            transform: rotateZ(360deg);
        }
    }
}