@theme {
    --color-scheduler-main-bg: #F8F8F8;

    --color-hsu: #2e5cb8;
    --color-deep-hsu: #4472c4;
    --color-light-hsu: #f8f9ff;
    --color-border-hsu: #e3e8ff;

    --color-cancel-btn-bg: #6c757d;


    /* 시간표 부분 */
    --color-timetable-body-bg: #F8F8F8;
    --color-timetable-cell-border: #E6E6E6;
    --color-scheduler-cell-border: #E6E6E6;

    --color-course-block-1: #A9B5DF;
    --color-course-block-2: #F75A5A;
    --color-course-block-3: #ECFAE5;
    --color-course-block-4: #F4E7E1;
    --color-course-block-5: #FFAAAA;
    --color-course-block-6: #FFD586;
    --color-course-block-7: #FFE99A;
    --color-course-block-8: #FFF2EB;
    --color-course-block-9: #D1D8BE;
    --color-course-block-10: #9EC6F3;
    --color-course-block-11: #F5EEDC;
    --color-course-block-12: #8F87F1;
    --color-course-block-13: #FFFECE;
    --color-course-block-14: #FFEDFA;
    --color-course-block-15: #FFB8E0;

    --color-personal-schedule-block-1: #D3ECCD;
    --color-personal-schedule-block-2: #FEEBF6;
    --color-personal-schedule-block-3: #FFEDF3;
    --color-personal-schedule-block-4: #E8F9FF;
    --color-personal-schedule-block-5: #CDC1FF;
    --color-personal-schedule-block-6: #F5EFFF;
    --color-personal-schedule-block-7: #FFFBE6;
    --color-personal-schedule-block-8: #DFD3C3;
    --color-personal-schedule-block-9: #F7B5CA;
    --color-personal-schedule-block-10: #F5EDED;
    --color-personal-schedule-block-11: #E7F0DC;
    --color-personal-schedule-block-12: #F1F8E8;
    --color-personal-schedule-block-13: #FFFDD7;
    --color-personal-schedule-block-14: #FDFFAB;
    --color-personal-schedule-block-15: #B4D4FF;

    /* course finder 부분 */
    --color-course-finder-main-bg: #f9fafb;
    --color-course-finder-border: #98a2b3;
    --color-course-finder-filter-bg: #f2f4f7;

    --color-course-finder-courses-table-head-bg: #E9E3DF;
    --color-course-finder-courses-table-row-bg: #FAF7F3;
    --color-course-finder-courses-table-row-hover-bg: #DBDBDB;

}