@import "tailwindcss";
@import "./sizes.css";
@import "./colors.css";
@import "./animations.css";

:root {
    /* 강의 호버 시 미리보기 */
    --z-index-hovered-course: 50;
    /* 스케줄 블록 */
    --z-index-schedule-block: 49;
    /* course 탐색 모달창 */
    --z-index-course-finder: 9998;
    /* 필터 부분 왼쪽 오른쪽 가림막 */
    --z-index-course-finder-edge-fader: 100;
    /* 공강 요일 선택 모달 */
    --z-index-no-class-days-modal: 9999;
    --z-index-CPSATResult-modal: 10000;
}

html,
body {
    min-width: 100dvw;
    font-size: 62.5% !important;
    overflow: hidden;
    max-height: 100dvh;
}

img,
video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

select,
input {
    outline: none;
}

/* 크롬, 사파리, 엣지, 오페라 */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 파이어폭스 */
input[type=number] {
    -moz-appearance: textfield;
}

button {
    cursor: pointer;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

/* 스크롤바 숨김 */
.scrollbarHidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbarHidden::-webkit-scrollbar {
    display: none;
}