@import "tailwindcss";
@import "./sizes.css";
@import "./colors.css";
@import "./animations.css";

:root {
    --z-index-hovered-course: 50;
    --z-index-no-class-days-modal: 99999;
}

html,
body {
    min-width: 100dvw;
    font-size: 62.5% !important;
    overflow: hidden;
    max-height: 100dvh;
}

img,
video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

select,
input {
    outline: none;
}

/* 크롬, 사파리, 엣지, 오페라 */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 파이어폭스 */
input[type=number] {
    -moz-appearance: textfield;
}

button {
    cursor: pointer;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}